Package: enigma2-plugin-extensions-iptv-list-updater
Version: 1.01
Description: IPTV Bouquet Updater Plugin by Nobody28 & satinfo
Section: misc
Priority: optional
Architecture: all
Maintainer: Nobody28 & satinfo
Source: www.gigablue-support.com
Depends: gst-plugins-bad-rtmp, librtmp0
